<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554666140805-7on1nspofeqcr27toss1pj7ckmjf0hut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554666140805-7on1nspofeqcr27toss1pj7ckmjf0hut</string>
	<key>API_KEY</key>
	<string>AIzaSyBeSUydjkQHwXzh3T722ILuKEcPrWG_jXc</string>
	<key>GCM_SENDER_ID</key>
	<string>554666140805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app55</string>
	<key>PROJECT_ID</key>
	<string>ap55-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ap55-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554666140805:ios:7495f734a7cd9e449275ec</string>
</dict>
</plist>